/*=============================================
ERROR 404, VERIFICAR
=============================================*/

.error404 .verificar{
	color:#333;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.col-lg-0{
		display: none;
	}

	.error404 h1{
		font-size:300px;
		text-shadow:8px 8px 1px #dadada;
	}

	.verificar h3{
		margin-top:30px;
		font-size:100px;
		text-shadow:4px 4px 1px #dadada;
	}

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	.col-md-0{
		display: none;
	}

	.error404 h1{
		font-size:200px;
		text-shadow:6px 6px 1px #dadada;
	}

	.verificar h3{
		margin-top:30px;
		font-size:100px;
		text-shadow:4px 4px 1px #dadada;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	.col-sm-0{
		display: none;
	}

	.error404 h1{
		font-size:150px;
		text-shadow:4px 4px 1px #dadada;
	}

	.verificar h3{
		margin-top:30px;
		font-size:100px;
		text-shadow:4px 4px 1px #dadada;
	}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.col-xs-0{
		display: none;
	}

	.error404 h1{
		font-size:75px;
		text-shadow:2px 2px 1px #dadada;
	}

	.verificar h3{
		margin-top:30px;
		font-size:50px;
		text-shadow:2px 2px 1px #dadada;
	}

}

.PVideo iframe{
	width: 280px;
	height: 160px;
}

.carousel-caption h5 {
	background-color: #0A5B33;
	border-radius: 20px;
	padding: 15px;
	box-shadow: 3px 3px 3px #7eebb8;
}

.container-modulo-mision, .container-modulo-himno, .container-modulo-geografia{
	padding: 30px 120px 200px 130px;
	width: 1200px;
	text-align: justify;
}
.container-modulo-mision h2, .container-modulo-himno h2, .container-modulo-geografia h2{
	font-weight: bold;
	margin-bottom: 40px;	
}
.container-modulo-mision p, .container-modulo-geografia p{
	font-size: 15px;
}
.container-modulo-mision img{
	display: block;
	margin: auto;
	height: 750px;
}

.container-modulo-himno p strong {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 10px;

}

.container-modulo-himno p{
	font-size: 15px;
	text-align: center;
	padding: 0 300px;
}

.container-modulo-geografia p strong {
	font-size: 20px;
	text-align: justify;
	display: block;
	
}
